body {
    font-family: 'Roboto', sans-serif;
}.header {background-color: #084550;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}
.saldo-card, .card-transacoes {
    border-radius: 10px;
}
.icon {
    font-size: 24px;
}

.custom-bg {
    background-color: #898a8d !important;
}

.saldo-card.bg-success {
    background-color: #F0FFF0 !important;
    color: #000 !important; /* Cor do texto opcional para contraste */
}

.saldo-card.bg-danger {
    background-color: #FFE4E1 !important;
    color: #000 !important; /* Cor do texto opcional para contraste */
}


